<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chumi</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>
    <link rel="icon" href="server/images/fav.png" type="image/x-icon">
    CSS Plugins
    <link rel="stylesheet" href="server/plugins/slick/slick.css">
    <link rel="stylesheet" href="server/plugins/animsition/animsition.min.css">
    CSS Pages
    <link rel="stylesheet" href="local/css/bootstrap-slim.css">
    <link rel="stylesheet" href="local/css/feather.min.css">
    <link rel="stylesheet" href="local/css/remixicon.css">
    <link rel="stylesheet" href="local/css/font.css">
    <link rel="stylesheet" href="local/scss/template.css">
</head> -->

<body class="menu-is-closed">
<div class="animsition">
    <header class="header" id="navbar">
        <nav>
            <a class="header-logo" href="#">
                <!-- <img src="server/images/logo.svg" alt="" > -->
            </a>
            <div class="nav-list">
                <div class="nav-list flex-end">
                    <ul>
                        <li>
                            <a href="#">Create event</a>
                        </li>
                        <li>
                            <a href="#">Support</a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-sm btn-primary">Sign in</button>
                </div>
            </div>
            <div class="menu-btn navbar-toggle">
                <i class="fe fe-menu"></i>
            </div>
        </nav>
    </header>
    <div class="click-capture"></div>
    <div class="menu">
        <span class="close-menu fe fe-x right-boxed"></span>
        <ul class="menu-list right-boxed">
            <li class="active">
                <a href="javascript:;">Create event</a>
            </li>
            <li>
                <a href="">Support</a>
            </li>
            <li>
                <a href="#">Sign in</a>
            </li>
        </ul>
        <div class="menu-footer right-boxed">
            <div class="social-list">
                <a href="" class="ri-twitter-fill"></a>
                <a href="" class="ri-google-fill"></a>
                <a href="" class="ri-facebook-fill"></a>
                <a href="" class="ri-instagram-fill"></a>
            </div>
        </div>
    </div>
    <main>
        <div id="poster" class="event-banner">
            <div class="wrapper">
                <div class="post-content">
                    <div class="post-content-inner">
                        <div class="post-content-main">
                            <div class="post-cover" style="background-image:url(https://images.chumi.co/cover-5d7867482b82a83371ef6737-1578688673600.jpeg)"></div>
                            <div class="post-sidebar">
                                <small>MUSIC EVENT</small>
                                <h2>New Years Eve Salsa Party with Havana Ventu</h2>
                                <p class="by-organizer">By Genius Productions</p>
                                <div class="layout-info-content">
                                    <div class="layout-info-item">
                                        <i class="fe fe-clock"></i>
                                        <div class="layout-info-item-body">
                                            <h3>Date & Time</h3>
                                            <p>Mon, Dec 02, 2019</p>
                                            <p>7:30 PM EST</p>
                                        </div>
                                    </div>
                                    <div class="layout-info-item">
                                        <i class="fe fe-map-pin"></i>
                                        <div class="layout-info-item-body">
                                            <h3>Location</h3>
                                            <p>The Orpheum, 601 Smithe St, Vancouver, BC V6B 3L4, Canada</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="event-main">
            <div class="wrapper">
                <div class="post-content-foot">
                    <div class="post-content-foot-left">
                        <div class="pcf-time">Doors Open<span>6:30pm</span></div>
                        <div class="pcf-price">Ticket from<span><span class="pcf-symbol">$</span>135</span></div>
                    </div>
                    <div class="post-content-foot-right">
                        <button class="btn btn-primary btn-block">Buy Tickets</button>
                    </div>
                </div>
                <div class="event-main-wrapper">
                    <div class="event-main-content">
                        <div class="post-sidebar">
                            <small>MUSIC EVENT</small>
                            <h2>New Years Eve Salsa Party with Havana Ventu</h2>
                            <p class="by-organizer">By Genius Productions</p>
                            <div class="layout-info-content">
                                <div class="layout-info-item">
                                    <i class="fe fe-clock"></i>
                                    <div class="layout-info-item-body">
                                        <h3>Date & Time</h3>
                                        <p>Mon, Dec 02, 2019</p>
                                        <p>7:30 PM EST</p>
                                    </div>
                                </div>
                                <div class="layout-info-item">
                                    <i class="fe fe-map-pin"></i>
                                    <div class="layout-info-item-body">
                                        <h3>Location</h3>
                                        <p>The Orpheum, 601 Smithe St, Vancouver, BC V6B 3L4, Canada</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layout-content-section">
                            <div class="event-intro hide">
                                <h3 class="lcs-title">Event introuduce</h3>
                                <div class="lcs-intro">
                                    <p>Ring in 2020 with a tropical getaway right in Toronto! Experience Lula's famous New Year's Eve Party.
                                    </p>
                                    <p>If you wish you were spending the holidays somewhere tropical this year but couldn’t get away, New Year’s Eve at Lula Lounge is your ticket to a one-night exotic vacation.
                                    </p>
                                    <p>The exuberant rhythms of live salsa music, the pulsating dance floor, and the flavours of Latin-American and Caribbean-inspired dishes and cocktails will transport you far away from the icy streets of Toronto.
                                    </p>
                                    <figure>
                                        <!-- <img src="server/images/juicy01.jpg" alt="The Pulpit Rock"> -->
                                    </figure>
                                </div>
                                <h3 class="lcs-title">Event video</h3>
                                <div class="lcs-intro">
                                    <figure>
                                        <iframe width="100%" src="https://www.youtube.com/embed/TbFWYT9VGRk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </figure>
                                </div>
                            </div>
                            <a class="read-more" href="javascript:;">Read More...</a>
                            <h3 class="lcs-title">Location</h3>
                            <div class="lcs-intro">
                                <p class="text-black">Lula Lounge</p>
                                <p class="text-secondary">1585 Dundas St W, Toronto, ON M6K 1T9, Canada</p>
                                <p><a href="#">View map</a></p>
                            </div>
                            <h3 class="lcs-title">Share with friends</h3>
                            <div class="lcs-intro">
                                <div class="lcs-social-list">
                                    <a href="" class="ri-twitter-fill"></a>
                                    <a href="" class="ri-google-fill"></a>
                                    <a href="" class="ri-facebook-fill"></a>
                                    <a href="" class="ri-instagram-fill"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event-main-sidebar">
                        <div class="layout-content-section side">
                            <h3 class="lcs-title">Tags</h3>
                            <div class="lcs-intro">
                                <div class="tag-list">
                                    <a>Canada Events</a>
                                    <a>Ontario Events</a>
                                    <a>Things To Do In Toronto, Canada</a>
                                    <a>Toronto Art Performances</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-main-foot">
                    <div class="organizer">
                        <h2>Organizer</h2>
                        <a href="#" class="organizer-item">
                            <!-- <img src="server/images/organizer.png" alt="" width="85"> -->
                            <p>LULA</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="event-foot">
            <div class="event-foot-wrap">
                <div>
                    <div class="efw-desc">Ticket from</div>
                    <div class="pcf-price"><span>$</span><span>135</span></div>
                </div>
                <button class="btn btn-primary">Buy Tickets</button>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-grid">
            <div class="footer-single">
                <!-- <img src="server/images/logo-white.svg" alt=""> -->
                <div class="cp">All right reserved. ©2020 Chumi Technologies, Inc</div>
            </div>
            <div class="footer-content">
                <div class="footer-content-left">
                    <div class="footer-link-content">
                        <div class="foot-link-list">
                            <div class="foot-link-col">
                                <h5>Start</h5>
                                <a href="manage_your_site.html">Chumi website builder</a>
                                <a href="manage_your_payment.html">Chumi payment</a>
                                <a href="manage_your_CRM.html">Chumi CRM</a>
                            </div>
                            <div class="foot-link-col">
                                <h5>Company</h5>
                                <a href="#">About</a>
                                <a href="#">Contact</a>
                                <a href="#">Careers</a>
                                <a href="#">Press</a>
                            </div>
                            <div class="foot-link-col">
                                <h5>Information</h5>
                                <a href="#">Privacy Policy</a>
                                <a href="#">Terms & Condition</a>
                                <a href="#">FAQ</a>
                            </div>
                        </div>
                    </div>
                    <div class="fcl-conditions">Terms & conditions | Privacy policy</div>
                </div>
                <div class="footer-content-right">
                    <div class="footer-content-lead">Ready to start your next project? Drop us a line or stop by our office.
                        We are open for creative minds and collaborations!
                    </div>
                    <div class="footer-content-info">
                        <div class="fci-item">
                            <div class="fci-title">Visit Us</div>
                            <div class="fci-body">20 Independant Avenue <br> San Pedro, CA 90731 <br> California</div>
                        </div>
                        <div class="fci-item">
                            <div class="fci-title">Contact us</div>
                            <div class="fci-body">gagalovewater@gmail.com <br> +1 900 577 473 84</div>
                        </div>
                    </div>
                    <div class="copyright">All right reserved. ©2018 Site Generator</div>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- Optional JavaScript -->
<!-- <script src="server/plugins/jquery/jquery.min.js"></script>
<script src="server/plugins/animsition/animsition.min.js"></script>
<script src="server/plugins/background-blur/background-blur.min.js"></script>
<script src="local/js/global.js"></script>
<script>
    $('.navbar-toggle').on('click',function(){
        $('body').removeClass('menu-is-closed').addClass('menu-is-opened');
    });
    $('.close-menu, .click-capture, .menu-list a[href*="\/"]').on('click', function(){
        $('body').removeClass('menu-is-opened').addClass('menu-is-closed');
        $('.menu-list ul').slideUp(300);
    });
    var dropToggle = $('.menu-list > li').has('ul').children('a');
    dropToggle.on('click',function(){
        dropToggle.not(this).closest('li').find('ul').slideUp(200);
        $(this).closest('li').children('ul').slideToggle(200);
        return false;
    });
</script>
<script>
    $(function() {
        var $previewEl = $('#poster');
        var url = $(".post-cover").css("background-image").split("\"")[1];
        $previewEl.backgroundBlur({
            imageURL : url,
            blurAmount : 10,
            imageClass : 'bg-blur',
            overlayClass : 'bg-blur-overlay',
            duration: 1000,
            endOpacity : 1
        });
        sticky();
    });
    $(window).scroll(function() {
        sticky();
    });
    function sticky() {
        let e = $(this).scrollTop(),
            t = $(".event-main");
        500 <= e ? t.addClass("sticky") : t.removeClass("sticky");
    }
    $('.read-more').click(function () {
        $('.event-intro').removeClass('hide');
        $(this).remove();
    })
</script> -->
</body>
