<div id="popupConnectAccount" class="js-subscribe-window rounded border u-modal-window" style="position: fixed; left: calc(50% - 175px); z-index:1600; top: 20vh; background-color: white;">
  <div class="text-center p-7">
    <div class="mb-4">
      <h4 class="h6 mb-1">Change your website default language</h4>
    </div>
    <div class="mb-4">
      <p>
        <a class="btn btn-sm btn-primary u-btn-primary transition-3d-hover" href="javascript:void(0)" (click)="changeLan('English')"
        style="width: 80%">English</a>
      </p>
      <p>
        <a class="btn btn-sm btn-primary u-btn-primary transition-3d-hover" href="javascript:void(0)" (click)="changeLan('Chinese')"
           style="width: 80%">Chinese</a>
      </p>
    </div>
    <a class="btn btn-sm u-btn-primary--air" href="javascript:;" (click)="closeConfirmpopupConnectAccount()">Not now</a>
  </div>
</div>
